$primary-font-color: #212121;
$main-color: #e14343;
$secondary-color: #c0c0c0;
$overlay-color: rgba(192,192,192, 0.6);
$black: black;
$modal-background: rgb(220, 220, 220);
$modal-header-border-radius: 5px 5px 0px 0px;
$modal-content-border-radius: 0px 0px  5px 5px;
$modal-box-border-radius: 5px;
$modal-icons-color: black;
$modal-icons-hover: lighten($modal-icons-color, 30%);

body { margin: 0; padding-top: 50px; font-family: Roboto, "Helvetica Neue", sans-serif; }

html { height: 100%;}
body { margin: 0; color: $primary-font-color; font-family: Roboto, "Helvetica Neue", sans-serif; }
