$main-color: #DE2F2F;
$secondary-color: #c0c0c0;
$overlay-color: rgba(192,192,192, 0.6);
$black: black;
$modal-background: grey;
$modal-header-border-radius: 5px 5px 0px 0px;
$modal-content-border-radius: 0px 0px  5px 5px;
$modal-box-border-radius: 5px;


body { margin: 0; padding-top: 50px; font-family: Roboto, "Helvetica Neue", sans-serif; }
